.contactForm{
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid black;
    padding: 10px 25px 20px 25px;
}
.labelForm {
    font-size: 22px;
}
.labelInput {
    border-radius: 5px;
    border: 1px solid black;
}
.labelInput:hover,
.labelInput:focus {
     box-shadow: 3px 3px 13px 9px rgba(44, 90, 247, 0.68);
}


.btnForm {
    border: 1px solid black;
    border-radius: 5px;
    width: 120px;
    margin-top: 30px;
}
.btnForm:hover,
.btnForm:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    background-color: #404bbf;
    fill: #ffffff;
}